html {
    background: url(http://99.r.photoshare.ru/00993/009790c3ffe685afc9c233549b95535666017574.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}